.container {
  margin:20px;
  /* text-align: center; */
}

.todoInput {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.todoInput input {
  height: 100%;
  margin-right: 10px;
  flex: 1;
}

.todoInput button {
  width: max-content;
}